*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body .menu{
    display: flex;
    background-image: url(./Assets/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-width: 100%;
}

body .menu .title{
    width: 90%;
}
body .menu .title a{
    display: flex;
    justify-content: center;
    cursor: initial;
}
body .menu .title .imgtitle{
    width: 50%;
}

body .menu .txt{
    display: flex;
    margin-top: 4%;
    width: 90%;
    justify-content: center;
}
body .menu .txt img{
    width: 50%;
}

body .menu .line1{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10%;
}
body .menu .line1 a{
    width: 30%;
    font-style: normal;
    text-decoration: none;
}
body .menu .line1 input{
    border: solid;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-size: 150%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 2%;
    background-color: grey;
    box-shadow: inset 3px 5px rgba(158, 158, 158), inset -3px -5px rgba(108, 108, 108);
    font-family: 'minecraft';
}
body .menu .line1 input:hover{
    box-shadow: inset 3px 5px rgba(1000, 1000, 1000, 0.5);
    background-color: rgba(112, 143, 196);
    color: white;
}

body .menu .line2{
    display: flex;
    justify-content: center;
    width: 70%;
    padding-bottom: 5%;
}
body .menu .line2 a{
    width: 50%;
    font-style: normal;
    margin-bottom: 10%;
    text-decoration: none;
}
body .menu .line2 input{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 150%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid;
    margin-right: 2%;
    background-color: grey;
    box-shadow: inset 3px 5px rgba(158, 158, 158), inset -3px -5px rgba(108, 108, 108);
    font-family: 'minecraft';
}
body .menu .line2 input:hover{
    box-shadow: inset 3px 5px rgba(1000, 1000, 1000, 0.5);
    background-color: rgba(112, 143, 196);
    color: white;
}

@media (max-width: 896px) {
    body .menu{
        display: flex;
        background-image: url(./assets/fond.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 46.5%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        border-width: 100%;
    }
    body .menu .txt img{
        width: 90%;
    }
    
    body .menu .line1{
        display: flex;
        width: 80%;
        margin-right: 0%;
        margin-left: 38%;
        padding-top: 15%;
        padding-bottom: 16%;
        flex-direction: column;
        align-content:space-around;
    }
    body .menu .line1 .prez{
        margin-bottom: 17%;
    }
    body .menu .line2 input{
        margin-bottom: 0%;
    }
}